/* CollaBrains branding overrides */

/* Hide "Powered by authentik" footer */
.pf-c-login__footer li span { display: none; }

/* Change submit button label to Sign-In */
.pf-c-login__main-body button[type="submit"],
ak-stage-identification button[type="submit"],
ak-flow-executor button[type="submit"] {
  font-size: 0 !important;
  color: transparent !important;
}
.pf-c-login__main-body button[type="submit"]::after,
ak-stage-identification button[type="submit"]::after,
ak-flow-executor button[type="submit"]::after {
  content: 'Sign-In';
  font-size: 1rem;
  color: white;
}
